body{
    margin: 0px;
    padding: 0;
}
.header{
  
    height: 50px;
  
}
.nav{
    text-decoration-line: none;
    cursor: pointer;
}
.navig{
    display: inline-block;
    color: darkblue;
    padding: 17px;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;

   
}
.navigation{
    text-align: center;
    align-items: center;
    margin: 0;
}
.mainimg{
    width: 100%;
}
.name{
   padding-top: 40px;
    text-align: center;
    padding-bottom: 40px;
    letter-spacing: 3.3px;
    font-weight: bold;


}
.text{
    padding-left: 5%;
    padding-right: 5%;
    display: block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px; 
    text-align: center;
    color: #373737;
    letter-spacing: 2px;
}
.inf{
    padding-top: 20px;
    padding-bottom: 15px;
}
.GetStarted{
    background-color:#FF0000;
    padding: 17px 43px 17px 43px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;
}
.main{
    text-align: center;
}
.footer{
    text-align: right;
}
.information{
    margin-right: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 2.4px;
}
