body{
    background-image: url(img/background.png);
    background-repeat: no-repeat;
	background-position: left;
	background-size: cover  ;
    margin:0;
    padding: 0;
}
main{
	width: 1030px;
}
.milan-holidays{
   
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    padding-top: 46px;
    
    display: flex;
    justify-content: space-between;
}
.logo-name-link{
    text-decoration-line: none;
    align-items: center;
}

.name:hover .name-title{
    color: #F26522;
}
.name{
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    padding-left: 60px;
   
   
}
.logo-name{
    align-items: center;
}
.name:hover{
    background-image: url(img/logo2.png);
    background-repeat: no-repeat;
   
}


.name-title{
   margin-block-start: 0;
   margin-block-end: 0;

    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 7px;
}
.name-title:hover{
    color:#F26522;
}
.bigger-name{
    font-size: 29px;
    line-height: 29px;
}
.smaller-name{
    font-size: 18px;
    line-height: 18px;
}
.logo-name-link{
    display: flex;
}
.contacts{
    display: flex;
    flex-direction: column;
    text-align: right;
}
.mail {
    color: white;
    text-decoration-line: none;
    padding-bottom: 15px;
    padding-top: 5px;
}
.mail:hover{
    color:#F26522;
}
.tel:hover{
    color:#F26522;
}

.tel {
    color: white;
    text-decoration-line: none;
}
.options{
    display: grid;
    grid-gap: 60px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-block-start: 0;
    margin-inline-start: 0;
    margin-inline-end:0;
    margin-block-end: 0;
    padding-inline-start: 0;
    list-style: none;
}

.text-option{ 
    color: #FFFFFF;
    margin-block-start: 0;
    margin-block-end: 0;
}
.item-option{
    width: 304px;
    height: 220px;
    position: relative;
    text-align: center;
   
}

.link-item-option{
    color: white;
    text-decoration-line: none;
   
}

.footer-link{
   text-decoration-line: none;
    color: white;

}
.footer-link:hover{
    color:#F26522;
}
.footer{
    text-align: center;
    margin-top:46px;
}
.position{
    color: white;
    background-color:#F26522 ;
    width:301px;
    position: absolute;
    bottom: 0;
    left: 3px;
    display: none;
}
.item-option:hover .position{
    display:flex;
    justify-content: space-between;
}
.position-text{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.price{
    font-size: 20px;
    margin:0;
    padding-top: 12px;
    padding-bottom: 12px;
}
.from{
    font-size: 10px;
    margin:0;
    padding-top: 5px;
}
.position-details{
    text-decoration: none;
    color: white;
}
.details-text{
    margin-bottom: 10px;
    margin-top: 30px;
    padding-right: 30px;
}
.details-text::after{
    content: url(img/Vector\ 1.png);
    padding-left: 10px;
    width: 5px;
    height: 10px;
}